<template>
  <div class="calculator-container">
    <div class="name">{{ name }}</div>
    <div class="calculator-wrapper">
      <div class="result-wrapper">
        <p class="result">{{ result }}</p>
        <div class="line" />
        <p class="display">{{ displayEquation }}</p>
      </div>
      <div class="buttons-wrapper">
        <span @click="onClickCalculatorButton('C')">C</span>
        <span @click="onClickCalculatorButton('x')">x</span>
        <span @click="onClickCalculatorButton('-')">-</span>
        <span @click="onClickCalculatorButton(7)">7</span>
        <span @click="onClickCalculatorButton(8)">8</span>
        <span @click="onClickCalculatorButton(9)">9</span>
        <span @click="onClickCalculatorButton(4)">4</span>
        <span @click="onClickCalculatorButton(5)">5</span>
        <span @click="onClickCalculatorButton(6)">6</span>
        <span @click="onClickCalculatorButton(1)">1</span>
        <span @click="onClickCalculatorButton(2)">2</span>
        <span @click="onClickCalculatorButton(3)">3</span>
        <span class="zero" @click="onClickCalculatorButton(0)">0</span>
        <span @click="onClickCalculatorButton('.')">.</span>
        <span class="plus" @click="onClickCalculatorButton('+')">+</span>
        <span class="equal" @click="onClickCalculatorButton('=')">=</span>
      </div>
    </div>
  </div>
</template>

<script>
import calculateAPI from '~/api/calculate'

export default {
  props: {
    name: {
      type: String,
      default: 'Calculator'
    }
  },
  data () {
    return {
      equation: '',
      displayEquation: '',
      result: 0
    }
  },
  computed: {
    lastAlphabet () {
      return this.equation.split('')[this.equation.length - 1]
    }
  },
  methods: {
    onClickCalculatorButton (alphabet) {
      const isNumber = Number.isInteger(parseInt(alphabet))
      const islastAlphabetNumber = Number.isInteger(parseInt(this.lastAlphabet))
      if (isNumber) {
        this.equation += alphabet
        this.displayEquation += alphabet
      } else if (alphabet === 'x' && this.lastAlphabet !== 'x' && islastAlphabetNumber) {
        this.equation += '*'
        this.displayEquation += ' x '
      } else if (alphabet === '+' && this.lastAlphabet !== '+' && islastAlphabetNumber) {
        this.equation += '+'
        this.displayEquation += ' + '
      } else if (alphabet === '-' && this.lastAlphabet !== '-' && islastAlphabetNumber) {
        this.equation += '-'
        this.displayEquation += ' - '
      } else if (alphabet === '.' && this.lastAlphabet !== '.') {
        if (islastAlphabetNumber) {
          this.equation += '.'
          this.displayEquation += '.'
        } else {
          this.equation += '0.'
          this.displayEquation += '0.'
        }
      } else if (alphabet === 'C') {
        this.equation = ''
        this.displayEquation = ''
        this.result = 0
      } else if (alphabet === '=') {
        calculateAPI.calculate(this.equation).then((response) => {
          this.result = response
          this.$emit('onChangeResult', {
            name: this.name,
            date: new Date(),
            result: this.result,
            equation: this.equation,
            displayEquation: this.displayEquation
          })
          this.equation = ''
          this.displayEquation = ''
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.calculator-container {
  > .name {
    margin-bottom: 12px;
  }
  > .calculator-wrapper {
    display: flex;
    flex-direction: column;
    padding: 38px;
    border-radius: 24px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
    -moz-box-shadow: 0px 0px 10px 0pxrgba(222, 222, 222, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
    > .result-wrapper {
      margin-bottom: 12px;
      > .result {
        font-size: 20px;
        height: 30px;
      }
      > .line {
        width: 100%;
        height: 1px;
        margin: 12px 0;
        background-color: #aaaaaa;
      }
      .display {
        height: 24px;
      }
    }
    > .buttons-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 8px;
      > span {
        padding: 12px 18px;
        background-color: #a7d4fa;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
        -moz-box-shadow: 0px 0px 10px 0pxrgba(222, 222, 222, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 0.5);
        transition: all 0.3s ease;
        &:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 1);
        -moz-box-shadow: 0px 0px 10px 0pxrgba(111, 111, 111, 1);
        box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 1);
        }
      }
      > .plus {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 4;
      }
      > .equal {
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column: 4;
      }
      > .zero {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}
</style>
